#python/jupyter
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

#data
data/raw/
data/processed/


*.pkl
*.joblib
*.pt
*.pth
*.onnx

logs/
wandb/
mlruns/

# Пакеты
*.egg-info/
dist/
build/


.idea/
.vscode/
.DS_Store
Thumbs.db
